#poststuff .general-box .inside {
	margin: 0;
	padding: 0;
}

.general-box p.description {
	padding: 10px;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}

.general-box .field {
	width: 96%;
	float: left;
	padding: 10px;
	clear: both;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}

.general-box .field .sub-item {
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}

.general-box .field .remove-item {
	text-align: right;
	color: #f00;
}

.general-box .field .field-meta {
	width: 17%;
	float: left;
	padding-right: 3%;
}

.general-box .field p.instruction {
	color: #666;
	margin: 0 0 5px;
	font-style: italic;
	text-align: right;
}

.general-box .field .field-input {
	width: 80%;
	float: left;
}

.general-box .field .field-input p.instruction {
	color: #666;
	margin: 0 0 5px;
	font-style: italic;
	text-align: left;
}

.general-box .field label {
	display: block;
	font-weight: bold;
	margin: 0 0 5px;
	text-align: right;
}

.general-box .field textarea {
	width: 100%;
}

/* relationship box */

.general-box .field.relationship .relation-list li {
}

.general-box .field.relationship .relation-list li input[type=checkbox] {
	margin-right: 10px;
}

.general-box .field.relationship .relation-list li label {
	display: inline;
	text-align: inherit;
	font-weight: normal;
}

.clearfix {
	width: 100%;
	clear:both;
}