#video-metabox #video_url {
	font-size: 22px;
	padding: 1%;
	width: 98%;
}

#video-metabox .html5-fallbacks input {
	font-size: 16px;
	padding: 1%;
	width: 98%;
}

#video-metabox .locate-video {
	width: 98%;
	padding: 1%;
}