/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
	background: @color;
	background:	-webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(0, @start),
				color-stop(1, @stop));
	background:	-ms-linear-gradient(bottom,
				@start,
				@stop);
	background:	-moz-linear-gradient(center bottom,
				@start 0%,
				@stop 100%);
	background:	-o-linear-gradient(@stop,
				@start);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}


/*
 * UI
 */

a,
input {
	.transition(all .2s ease-in);
}

 /* Titles */

 h1,
 h2,
 h3,
 h4,
 h5 {
 	font-family: "Dosis", sans-serif;
 }

 /* Icons */

.icon {
	line-height: 23px;
	padding-left: 33px;
	background-position: left center;
	background-repeat: no-repeat;
	&.icon-button-inside {
		padding: 0;
		line-height: inherit;
	}
	&.lightbulb {
		background-image: url(../img/icons/lightbulb.png);
	}
	&.star {
		background-image: url(../img/icons/star.png);
	}
	&.login {
		background-image: url(../img/icons/login.png);
	}
	&.register {
		background-image: url(../img/icons/register.png);
	}
	&.calendar {
		background-image: url(../img/icons/20x20_calendar.png);
	}
	&.camera {
		background-image: url(../img/icons/20x20_camera.png);
	}
	&.clapperboard {
		background-image: url(../img/icons/20x20_clapperboard.png);
	}
	&.clock {
		background-image: url(../img/icons/20x20_clock.png);
	}
	&.heart {
		background-image: url(../img/icons/20x20_heart.png);
	}
	&.comment {
		background-image: url(../img/icons/20x20_comment.png);
	}
	&.download {
		background-image: url(../img/icons/20x20_download.png);
	}
	&.share {
		background-image: url(../img/icons/20x20_share.png);
	}
	&.eye {
		background-image: url(../img/icons/20x20_eye.png);
	}
	&.tag {
		background-image: url(../img/icons/22x22_tag.png);
	}
}

/*
 * Buttons
 */

.icon-button {
	width: 40px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	a {
		display: block;
		text-indent: -9999px;
		background-position: center;
		width: 100%;
		height: 100%;
	}
}

.button {
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(228,228,228,1) 2%, rgba(212,212,212,1) 97%, rgba(203,203,203,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(2%,rgba(228,228,228,1)), color-stop(97%,rgba(212,212,212,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(228,228,228,1) 2%,rgba(212,212,212,1) 97%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(228,228,228,1) 2%,rgba(212,212,212,1) 97%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(228,228,228,1) 2%,rgba(212,212,212,1) 97%,rgba(203,203,203,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(228,228,228,1) 2%,rgba(212,212,212,1) 97%,rgba(203,203,203,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
	padding: 0;
	margin: 0;
	border-bottom: 3px solid;
	text-shadow: 0 0 0;
	font-size: 16px;
	font-family: "Dosis";
	font-weight: 200;
	text-transform: uppercase;
	line-height: 37px;
	padding: 0 15px;
	padding: ;
	a {
		text-decoration: none;
		font-weight: 400;
	}
}

.icon-list {
	margin: 0;
	padding: 0;
	> li {
		background-position: left center;
		background-repeat: no-repeat;
		margin: 0 0 10px !important;
		padding: 0 0 0 60px !important;
		min-height: 40px;
		color: #999;
		font-family: "Dosis", sans-serif;
		font-size: 18px;
		a {
			color: #999;
			text-decoration: none;
			&:hover {
				color: #333;
			}
		}
		&.views {
			line-height: 40px;
		}
		&.eye {
			background-image: url(../img/icons/40x40_eye.png);
		}
		&.tag {
			background-image: url(../img/icons/40x40_tag.png);
		}
		&.clip {
			background-image: url(../img/icons/40x40_clip.png);
			background-position: top left;
		}
	}
}

.social-icons {
	margin: 0;
	padding: 0;
	display: table;
	.social-item {
		width: 1%;
		display: table-cell;
		a {
			display: block;
			text-indent: -9999px;
			width: 34px;
			height: 35px;
			background-position: 0 0;
			background-repeat: no-repeat;
			&:hover {
				background-position: 0 -35px;
			}
		}
		&.facebook a {
			background-image: url(../img/icons/social/facebook.png);
		}
		&.twitter a {
			background-image: url(../img/icons/social/twitter.png);
		}
		&.vimeo a {
			background-image: url(../img/icons/social/vimeo.png);
		}
		&.youtube a {
			background-image: url(../img/icons/social/youtube.png);
		}
	}
}

.big-icon {
	font-size: 42px;
	line-height: 42px;
	color: rgba(0,0,0,0.5);
}

/*
 * Community header
 */

#community-header {
	background: #f2f2f2;
	border-bottom: 2px solid #dedede;
	padding: 20px 0;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	position: relative;
	z-index: 100;
	&.logo {
		h2 {
			line-height: 0;
			text-indent: -9999px;
		}
		#searchform,
		.meta-links {
			margin-top: 20px;
		}
	}
	h2 {
		font-size: 20px;
		line-height: 20px;
		margin: 10px 0;
		a {
			color: #333;
			text-decoration: none;
		}
		img {
			display: block;
			width: auto;
			height: 53px;
		}
	}
	#searchform {
		width: 100%;
		position: relative;
		margin: 0;
		input {
			margin: 0;
			&[type=text] {
				width: 100%;
				padding: 10px;
				border: 0;
			}
			&[type=submit] {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				border-left: 1px solid #ececec;
			}
		}
	}
	.meta-links {
		span {
			font-family: "Dosis";
			font-weight: 600;
			text-transform: lowercase;
			display: block;
			float: left;
			margin: 10px 20px 20px;
			a {
				text-decoration: none;
				color: #999;
			}
		}
	}
	.dropdown {
		position: relative;
		float: right;
		border: 1px solid #e0e0e0;
		.gradient(#e0e0e0, #e0e0e0, #f0f0f0);
		.title {
			font-size: 14px;
			line-height: 16px;
			display: block;
			padding: 10px;
			margin: 0;
			text-transform: uppercase;
			a {
				display: block;
				margin: 0;
				padding: 0;
			}
		}
		.options {
			width: 200px;
			background: #e0e0e0;
			display: none;
			position: absolute;
			top: 37px;
			right: -1px;
			margin: 0;
			padding: 0;
			border: 1px solid #e0e0e0;
			li {
				margin: 0;
				padding: 0;
				a {
					padding: 14px 10px;
					display: block;
					text-decoration: none;
					font-size: 12px;
					line-height: 12px;
					border-bottom: 1px solid #d0d0d0;
					color: #444;
					&:hover {
						color: #666;
						background: #f0f0f0;
					}
				}
			}
		}
		&:hover {
			.options {
				display: block;
			}
		}
		&:before {
			content: '';
			height: 36px;
			float: right;
			border-left: 1px solid rgba(0,0,0,0.2);
			width: 36px;
			background: url(../img/arrow-down.png) center no-repeat;
		}
	}
}

/*
 * Channel header
 */
header#masthead {
	margin: 0 0 40px;
	hgroup {
		width: 100%;
		max-height: 700px;
		position: relative;
		overflow: hidden;
		box-shadow: inset 0 -10px 50px -10px rgba(0,0,0,0.1);
		max-height: 500px;
		/*
		 * Header image styles
		 */
		.header-image {
			width: 100% !important;
			height: auto !important;
			display: block;
			margin: 0 auto;
		}
		.left-gradient {
			position: absolute;
			top: 0;
			left: 0;
			width: 30%;
			height: 100%;
			background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		}
		.right-gradient {
			position: absolute;
			top: 0;
			right: 0;
			width: 30%;
			height: 100%;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
		}
		.bottom-gradient {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30%;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
		/*
		 * Header text
		 */
		.header-content {
			margin: 60px 0;
			&.with-image {
				position: absolute;
				width: 100%;
				bottom: 0;
				h1 {
					text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
				}
				h2 {
					text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
				}
			}
			h1 {
				font-size: 52px;
				font-family: "Dosis";
				text-transform: uppercase;
				a {
					text-decoration: none;
				}
				&.logo {
					text-indent: -9999px;
					font-size: 1px;
					line-height: 0;
					margin: 0;
					img {
						display: block;
						max-height: 200px;
						max-width: 900px;
						width: auto;
						height: auto;
					}
				}
			}
			h2 {
				font-size: 20px;
				margin: 0;
				line-height: 22px;
				font-family: "Dosis";
				font-weight: 200;
			}
		}
	}
}
.site-header {
	margin: 0 0 40px;
	padding: 60px 0;
	h1,
	h2,
	a {
		color: #fff;
		text-decoration: none;
		margin: 0;
	}
	h2,
	#breadcrumb {
		font-size: 14px;
		line-height: 14px;
		margin: 0;
		font-weight: 800;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		font-family: "Dosis";
	}
	h1 {
		font-weight: 200;
		font-size: 72px;
		line-height: 72px;
	}
	#breadcrumb {
		.arrow {
			font-size: 10px;
			padding: 0 5px;
			opacity: .6;
		}
	}
	&.dark-scheme {
		a,
		h2,
		h1,
		#breadcrumb {
			color: #333;
			text-shadow: 0 0 0;
		}
	}
	&.light-scheme {
		a,
		h2,
		h1,
		#breadcrumb {
			color: #fff;
			text-shadow: 0 0 0;
		}
	}
}
.sub-header {
	width: 100%;
	margin: -40px 0 0;
	padding: 40px 0;
	background: -moz-linear-gradient(top,  rgba(150,150,150,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(150,150,150,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	p {
		color: #666;
		font-family: "Dosis";
		margin: 0 0 10px;
		font-size: 18px;
		font-weight: 200;
		strong {
			font-weight: 600;
			color: #999;
		}
	}
	.social {
		display: block;
		width: auto;
		float: right;
		margin: 10px 0 0;
		li {
			width: auto;
			display: block;
			float: left;
			margin-left: 30px;
		}
	}
	.social-share {
		margin: 0;
		padding: 0;
		li {
			width: 53px;
			height: 63px;
			overflow: hidden;
			iframe {
				width: inherit;
			}
		}
	}
	p.channel-description {
		margin-top: 10px;
		padding: 20px 0;
		border-top: 1px solid rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		color: #777;
		font-size: 20px;
		line-height: 130%;
	}
	p.program-descrition {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		font-size: 20px;
		line-height: 130%;
		color: #777;
	}
}

/*
 * VIDEO CONTENT
 */

#videohead {
	margin: 0 0 40px;
	padding: 40px 0;
	box-shadow: inset 0 0 200px rgba(0,0,0,0.4);
	background: #333;
	color: #f6f6f6;
	/*
	border-left: 50px solid #222;
	border-right: 50px solid #222;
	*/
	border-bottom: 5px solid #222;
	box-sizing: border-box;
	.title-area {
		border-left: 3px solid #555;
		padding-left: 40px;
		box-sizing: border-box;
		h1 {
			color: #f6f6f6;
			font-size: 52px;
			font-weight: 200;
			margin: 0 0 40px;
		}
	}
	.video-container {
		box-shadow: 0 0 50px rgba(0,0,0,0.7);
		iframe,
		object {
			display: block;
		}
	}
	a {
		color: #888;
		text-decoration: none;
		&:hover {
			color: #f0f0f0;
		}
	}
	nav {
		.transition(all .2s ease-in);
		opacity: .5;
		font-family: "Dosis";
		a:first-child {
			text-transform: uppercase;
		}
		.arrow {
			font-size: 10px;
			padding: 0 5px;
			opacity: .5;
		}
		&:hover {
			opacity: 1;
		}
	}
}

#video-meta {
	.video-meta-inside {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: 10px;
	}
	ul.video-specs {
		margin: 0;
		padding: 0;
		li {
			margin: 0 0 10px;
			width: 50%;
			float: left;
			box-sizing: border-box;
			color: #999;
			font-size: 16px;
			font-family: "Dosis", sans-serif;
			&.toggler {
				cursor: pointer;
				&:hover,
				&.active {
					color: #333;
				}
			}
		}
	}
	#tech-crew {
		padding: 0 20px 0;
		border: 0px solid #ddd;
		margin: 0 0 -11px;
		background: rgba(255,255,255,0.5);
		overflow: hidden;
	}
}

#video-more {
	.title {
		font-size: 32px;
		line-height: 42px;
		font-family: "Dosis", sans-serif;
		margin: 0 0 20px;
		display: block;
	}
	p {
		color: #555;
	}
}

#video-widgets {
	.video-widgets {
		margin: 0;
		padding: 0;
		.video-widget {
			margin: 0 0 20px;
			padding: 0 0 20px;
			border-bottom: 2px solid;
			ul {
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
				}
				&.buttons {
					width: 100%;
					display: table;
					margin-bottom: 10px;
					li {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						> * {
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
	.attachment-list {
		li {
			margin: 0 0 10px !important;
			padding-left: 20px !important;
			position: relative;
			a {
				display: block;
				color: #999;
				&:hover {
					color: #333;
				}
			}
			.attachment-title {
				font-weight: 600;
				display: block;
			}
			.attachment-base {
				font-size: 12px;
				line-height: 12px;
			}
			&:before {
				content: url(../img/icons/10x10_download.png);
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.4;
			}
		}
	}
	.flag-video {
		margin: 0 0 20px;
		text-transform: lowercase;
		color: #999;
		text-align: center;
		line-height: 15px;
		font-family: "Dosis", sans-serif;
		&:before {
			content: url(../img/icons/20x20_flag.png);
			padding-right: 10px;
			display: inline;
			opacity: 0.5;
		}
		&:hover:before {
			opacity: 1;
		}
	}
}

.content-element {
	margin: 20px 0;
	h3 {
		font-family: 'Dosis', sans-serif;
		font-size: 42px;
		font-weight: 200;
		text-transform: uppercase;
		color: #999;
		margin: 0 0 40px;
	}
}

.video-carousel {
	.carousel-container {
		position: relative;
		.carousel-nav {
			position: absolute;
			top: 50%;
			margin-top: -10px;
			width: 20px;
			height: 20px;
			display: block;
			text-indent: -9999px;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
			&.left-arrow {
				background-image: url(../img/icons/20x20_arrow-left.png);
				left: -20px;
			}
			&.right-arrow {
				background-image: url(../img/icons/20x20_arrow-right.png);
				right: -20px;
			}
		}
		.carousel-items-area {
			width: 100%;
			overflow: hidden;
		}
		.carousel {
			margin: 0;
			padding: 0;
			position: relative;
		}
	}
}

.video-thumb {
	position: relative;
	display: block;
	background: #000;
	&:before {
		content: url(../img/icons/play.png);
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
		position: absolute;
		z-index: 2;
		opacity: 0;
	}
	img {
		opacity:1;
		.transition(all .2s ease-in);
	}
	&:hover {
		img {
			opacity: .7;
		}
		&:before {
			opacity: 1;
		}
	}
}

/*
 * Comments
 */

.commentlist {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		article {
			margin: 0 0 20px;
			padding: 0 0 20px;
			border-bottom: 2px solid #f0f0f0;
		}
		header {
			.avatar {
				float: left;
				margin: 0 20px 20px 0;
			}
			cite {
				font-family: "Dosis", sans-serif;
				font-weight: bold;
				font-size: 18px;
				span {
					font-size: 10px;
					text-transform: lowercase;
					line-height: 22px;
					padding: 0 3px;
					opacity: 0.5;
					font-weight: 300;
					text-transform: lowercase;
					margin-left: 5px;
				}
			}
			a {
				color: #666;
				text-decoration: none;
			}
			time {
				display: block;
				font-size: 10px;
			}
		}
		.comment-content-area {
			border-left: 2px solid;
			padding-left: 20px;
		}
	}
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			header {
				.avatar {
					margin: 0 15px 15px 0;
				}
				cite {
					font-size: 16px;
				}
			}
			.comment-content-area {
				font-size: 12px;
			}
		}
	}
	.comment-awaiting-moderation {
		color: #999;
		font-style: italic;
		margin: 0;
		font-size: 12px;
	}
	.comment-reply-link {
		text-transform: uppercase;
		font-family: "Dosis", sans-serif;
		background: #f0f0f0;
		font-size: 12px;
		line-height: 20px;
		padding: 0 3px;
		text-decoration: none;
	}
	.edit-link {
		float: right;
	}
}

/*
 * Comment form
 */

#respond {
	input[type=text],
	textarea {
		width: 100%;
	}
}


/*
 * Single program
 */


.single {
	.program {
		#program-meta {
			.program-description {
				height: 84px;
				overflow:hidden;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 200;
				p {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 200;
				}
			}
			.readmore {
				border-top: 1px solid #bbb;
				display: block;
				margin: 5px 0;
				padding: 5px 0;
				text-transform: uppercase;
				text-align: center;
				font-size: 12px;
				font-weight: 800;
				color: #999;
				text-decoration: none;
			}
		}
	}
}

/*
 * Video boxes
 */

.card {
	a {
		text-decoration: none;
	}
	&.featured-video {
		margin: 0 0 40px;
		.thumbnail {
			margin-bottom: 20px;
			position: relative;
			z-index: 5;
			border-right: 5px solid #333;
			img {
				display: block;
				margin: 0;
				padding: 0;
			}
		}
		header {
			margin-bottom: 20px;
			h2 {
				font-weight: 200;
				a {
					color: #333;
					&:hover {
						color: #111;
					}
				}
			}
		}
		.description {
			height: 14px;
			margin: 0 0 20px;
			position: relative;
			z-index: 2;
			p {
				font-size: 14px;
				line-height: 22px;
				color: #666;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					overflow: inherit;
					white-space: inherit;
					text-overflow: inherit;
				}
			}
		}
		.video-meta {
			ul {
				display: table;
				margin: 0 0 20px;
				border-top: 1px solid rgba(0,0,0,0.1);
				border-bottom: 1px solid rgba(0,0,0,0.1);
				padding: 10px 0;
				li {
					width: 1%;
					display: table-cell;
					margin: 0;
					color: #999;
				}
			}
		}
		.tags {
			float: left;
			a {
				color: #666;
				text-decoration: none;
				&:hover {
					color: #333;
				}
			}
		}
	}
	&.list-video {
		margin: 0 0 40px;
		.thumbnail {
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 5;
			border-right: 2px solid #333;
			img {
				display: block;
				margin: 0;
				padding: 0;
			}
		}
		header {
			margin-bottom: 10px;
			h2 {
				font-weight: 800;
				font-size: 18px;
				line-height: 22px;
				a {
					color: #333;
					&:hover {
						color: #111;
					}
				}
			}
		}
		.description {
			height: 14px;
			margin: 0 0 10px;
			position: relative;
			z-index: 2;
			p {
				font-size: 12px;
				line-height: 14px;
				color: #666;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.video-meta {
			ul {
				display: table;
				margin: 0 0 10px;
				border-top: 1px solid rgba(0,0,0,0.1);
				border-bottom: 1px solid rgba(0,0,0,0.1);
				padding: 5px 0;
				li {
					width: 1%;
					display: table-cell;
					margin: 0;
					color: #999;
					font-size: 11px;
				}
			}
		}
	}
	&.minimal-video {
		position: relative;
		margin: 0 0 20px;
		.thumbnail {
			img {
				display:block;
			}
		}
		header {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 30px 10px 10px;
			.gradient(rgba(0,0,0,.9), rgba(0,0,0,0.9), rgba(0,0,0,0));
			h2 {
				font-size: 14px;
				line-height: 20px;
				color: #f0f0f0;
				font-weight: 800;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: #f0f0f0;
				}
				.duration {
					font-weight: 400;
					font-size: 12px;
				}
			}
		}
		&:hover {
			header {
				h2 {
					white-space: inherit;
					overflow: inherit;
					text-overflow: inherit;
				}
			}
		}
	}
	&.minimal-program {
		header {
			overflow: hidden;
			height: 124px;
			h3 {
				width: 100%;
				display: table;
				height: 124px;
				vertical-align: middle;
				text-align: center;
				a {
					display: table-cell;
					vertical-align: middle;
					padding: 0 15px;
				}
			}
		}
	}
}

.section-title {
	margin: 0 0 40px;
	text-transform: uppercase;
	font-size: 42px;
	line-height: 42px;
	font-weight: 200;
	color: #666;
	> * {
		float: left;
		margin-right: 20px;
	}
	.button {
		margin-top: 2px;
	}
}

.pagination {
	span {
		font-weight: 800;
		padding: 10px 15px;
		background: #333;
		color: #f0f0f0;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		&.older {
			float: right;
		}
		&.newer {
			float: left;
		}
		a {
			color: #f0f0f0;
			text-decoration: none;
		}
	}
	&.dark-scheme {
		span,
		a {
			color: #333;
			text-shadow: 0 0 0;
		}
	}
}

/*
 * Ordering
 */

.ordering-dropdown {
	position: relative;
	z-index: 100;
	width: 100%;
	display: table;
	font-family: "Dosis";
	.title {
		display: table-cell;
		line-height: 40px;
		margin: 0;
		font-weight: 800;
		text-transform: lowercase;
		font-size: 12px;
	}
	.choices {
		display: table-cell;
		position: relative;
		height: 40px;
		line-height: 40px;
		font-weight: 200;
		text-transform: uppercase;
		font-size: 16px;
		padding: 0;
		&:before {
			content: '';
			height: 40px;
			float: right;
			border-left: 1px solid rgba(0,0,0,0.2);
			width: 40px;
			background: url(../img/arrow-down.png) center no-repeat;
		}
		.current {
			line-height: 40px;
			padding: 0 10px;
			margin: 0;
		}
		.list {
			display: none;
			position: absolute;
			top: 40px;
			left: 0;
		}
		&:hover {
			.list {
				width: 100%;
				display: block;
				background: #f2f2f2;
				margin: 0;
				padding: 0;
				border-top: 3px solid;
				li {
					margin: 0;
					a {
						display: block;
						padding: 10px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						&:hover {
							background: #333;
							color: #f0f0f0;
						}
					}
				}
			}
		}
	}
}

.section-subtitle {
	margin: 0 0 40px;
}

.section {
	margin: 0 0 40px;
	&.program-featured {
		.program-description {
			overflow: hidden;
			max-height: 264px;
			padding-left: 20px;
			border-left: 5px solid;
			font-size: 18px;
			line-height: 22px;
			font-family: "Dosis";
			font-weight: 400;
			color: #666;
			h3 {
				font-size: 52px;
				line-height: 66px;
				font-weight: 200;
				margin: 0 0 22px;
				padding: 0;
				a {
					 text-decoration: none;
				}
			}
		}
	}
	&.program-strip {
		.program-description {
			max-height: 126px;
			overflow: hidden;
			padding-left: 20px;
			border-left: 5px solid;
			font-size: 14px;
			line-height: 18px;
			font-family: "Dosis";
			font-weight: 400;
			color: #666;
			h3 {
				font-size: 26px;
				line-height: 36px;
				font-weight: 600;
				margin: 0 0 18px;
				padding: 0;
				a {
					text-decoration: none;
				}
			}
		}
	}
}

#colophon {
	padding: 40px 0;
	background: #444;
	color: #999;
	font-size: 90%;
	h2,
	p,
	li,
	span,
	a {
		color: #999;
	}
	.widgettitle {
		color: #f0f0f0;
		font-size: 16px;
		line-height: 22px;
		font-weight: 800;
		text-transform: uppercase;
	}
}

#footer-credits {
	background: #333;
	color: #888;
	text-align: right;
	font-size: 12px;
	padding: 10px 0;
	p {
		margin: 0;
	}
}