#video_metabox #video_url {
	font-size: 22px;
	padding: 5px;
	width: 100%;
}

#video_metabox span.tip {
	color: #999;
	font-style: italic;
}

#video_metabox .html5-extras input {
	font-size: 16px;
	padding: 5px;
	width: 100%;
}

#video_metabox .html5-extras .subtitle-tracks input {
	font-size: 12px;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_part,
#video_metabox .html5-extras .subtitle-tracks .tip {
	display: block;
	float: left;
	margin-bottom: 10px;
}


#video_metabox .html5-extras .subtitle-tracks .subtitle_part input {
	width: 98%;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_url {
	width: 55%;
	min-height: 1px;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_url input {
	width: 75%;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_lang_code {
	width: 15%;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_lang_label {
	width: 15%;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle_manage {
	width: 15%;
}

#video_metabox .html5-extras .subtitle-tracks .remove-subtitle {
	color: #f00;
	float: right;
	padding: 5px 0;
}

#video_metabox .html5-extras .subtitle-tracks .subtitle-list .model {
	display: none;
}

#video_metabox .locate-video {
	width: 100%;
}

#video_metabox .video-container iframe,
#video_metabox .video-container object,
#video_metabox .video-container video {
	margin: 0 auto;
	display: block;
}

#video_metabox .supported-formats {
	float: right;
	color: #999;
	width: 25%;
	min-width: 195px;
}

#video_metabox .supported-formats span {
	float: left;
	display: block;
	margin: 0 10px;
}

#video_metabox .supported-formats ul {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
}

#video_metabox .supported-formats ul li {
	float: left;
	padding: 0;
	margin: 0 2px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	background-image: url(../img/media-icons.png);
	background-repeat: no-repeat;
}

#video_metabox .supported-formats ul li.html5 {
	background-position: 0px 0px;
}

#video_metabox .supported-formats ul li.vimeo {
	background-position: -32px 0px;
}

#video_metabox .supported-formats ul li.youtube {
	background-position: -16px 0px;
}

.clearfix {
	width: 100%;
	clear:both;
}